<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csq.mapper.ClassesMapper">

	<resultMap type="Classes" id="classMap">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="apply_name" property="applyName" jdbcType="VARCHAR"/>
		<result column="apply_student_number" property="applyStudentNumber" jdbcType="VARCHAR"/>
		<result column="apply_collage" property="applyCollage" jdbcType="VARCHAR"/>
		<result column="apply_class" property="applyClass" jdbcType="VARCHAR"/>
		<result column="apply_course" property="applyCourse" jdbcType="VARCHAR"/>
		<result column="apply_classroom" property="applyClassroom" jdbcType="VARCHAR"/>
		<result column="apply_time" property="applyTime" jdbcType="VARCHAR"/>
		<result column="apply_state" property="applyState" jdbcType="INTEGER"/>
		<result column="remarks" property="remarks" jdbcType="VARCHAR"/>
	</resultMap>
	
	
    <select id="selectClassesById" parameterType="java.lang.Integer" resultMap="classMap">
    	select * from class_tb where id = #{id,jdbcType=INTEGER}
    </select>
    
    <select id="selectClassesList" parameterType="java.lang.Integer" resultMap="classMap">
    	select * from class_tb where 1 = 1
    	<if test="limit != 0">
    		limit #{startPage}, #{limit}
    	</if>
    </select>
    
 
	
	<select id="selectClassesCount" resultType="java.lang.Integer">
		select count(*) from class_tb 
	</select>
	
		
	<update id="editClasses" parameterType="New">
		update class_tb 
		<trim prefix="set" prefixOverrides=",">
			<if test="applyName!=null and applyName!=''">apply_name = #{applyName}</if>
			<if test="applyStudentNumber!=null and applyStudentNumber!=''">,apply_student_number=#{applyStudentNumber}</if>
			<if test="applyCollage!=null and applyCollage!=''">,apply_collage=#{applyCollage}</if>
			<if test="applyClass!=null and applyClass!=''">,apply_class=#{applyClass}</if>
			<if test="applyCourse!=null and applyCourse!=''">,new_author=#{applyCourse}</if>
			<if test="applyClassroom!=null and applyClassroom!=''">,apply_classroom=#{applyClassroom}</if>
			<if test="applyTime!=null and applyTime!=''">,apply_time=#{applyTime}</if>
			<if test="applyState!=null and applyState!=''">,apply_state=#{applyState}</if>
			<if test="remarks!=null and remarks!=''">,remarks=#{remarks}</if>
		</trim>
		where id = #{id}
	</update>
	
	<delete id="deleteClassesById" parameterType="java.lang.Integer">
		delete from class_tb where id = #{id}
	</delete>
<!-- 	
	   <insert id="insertNew" parameterType="New">
    	insert into class_tb(apply_number, new_type, apply_collage, new_author, remarks) values (#{applyName},
    	#{applyNumber}, #{applyCollage}, #{applyCourse}, #{remarks})
    </insert> -->
    
    <!-- insert  的动态新增语句 start -->
    <sql id="classesInsertKey">
    	<trim suffixOverrides=",">
    		<if test="applyName!=null and applyName!=''">apply_name,</if>
			<if test="applyStudentNumber!=null and applyStudentNumber!=''">apply_student_number,</if>
			<if test="applyCollage!=null and applyCollage!=''">apply_collage,</if>
			<if test="applyClass!=null and applyClass!=''">apply_class,</if>
			<if test="applyCourse!=null and applyCourse!=''">apply_course,</if>
			<if test="applyClassroom!=null and applyClassroom!=''">apply_classroom,</if>
			<if test="applyTime!=null and applyTime!=''">apply_time=#{applyTime},</if>
			<if test="applyState!=null and applyState!=''">apply_state=#{applyState},</if>
			<if test="remarks!=null and remarks!=''">remarks,</if>
			</trim>
    </sql>
    <sql id="classesInsertValue">
    	<trim suffixOverrides=",">
			<if test="applyName!=null and applyName!=''">#{applyName},</if>
			<if test="applyStudentNumber!=null and applyStudentNumber!=''">#{applyStudentNumber},</if>
			<if test="applyCollage!=null and applyCollage!=''">#{applyCollage},</if>
			<if test="applyClass!=null and applyClass!=''">#{applyClass},</if>
			<if test="applyCourse!=null and applyCourse!=''">#{applyCourse},</if>
			<if test="applyClassroom!=null and applyClassroom!=''">#{apply_classroom},</if>
			<if test="applyTime!=null and applyTime!=''">apply_time,</if>
			<if test="applyState!=null and applyState!=''">apply_state,</if>
			<if test="remarks!=null and remarks!=''">#{remarks},</if>
			</trim>
    </sql>
    
    <insert id="insertClasses" parameterType="Classes">
    	insert into class_tb(<include refid="classesInsertKey" />) 
    	values (<include refid="classesInsertValue" />)
    </insert>
    <!-- insert  的动态新增语句 end -->

</mapper>